.c-circle-btn {
  display: inline-block;
  padding: .7em;
  text-decoration: none;
  border-radius: 50%;
  transition: .2s;
  color: white;
  @include btn-color-extension($main_color);

  @each $key,
  $color in $custom_colors {
    &--#{$key} {
      @include btn-color-extension($color);
    }
  }
}
