.c-link {
  color: $primary_color;

  &:hover {
    text-decoration: none;
  }

  &--brand {
    color: $white_color;

    &:hover {
      color: $white_color;
    }
  }

  &--nav {
    color: rgba($white_color, 0.5);

    &:hover {
      color: $white_color;
    }
  }
}
