.c-link {
  color: $primary-color;

  &:hover {
    text-decoration: none;
  }

  &--brand {
    color: $white-color;

    &:hover {
      color: $white-color;
    }
  }

  &--nav {
    color: rgba($white-color, 0.5);

    &:hover {
      color: $white-color;
    }
  }
}
