// @mixin outline-btn-color-extension($color) {
//   color: $color;
//   border: 2px solid $color;

//   &:hover {
//     background: $color;
//     color: white;
//   }
// }

.c-outline-btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  border-radius: 5px;
  transition: .2s;
  @include outline-btn-color-extension($main_color);

  @each $key,
  $color in $custom_colors {
    &--#{$key} {
      @include outline-btn-color-extension(($color));
    }
  }

  &--block {
    @include btn-block();
  }
}
