.c-pagination {
  display: flex;
  justify-content: center;

  &__page-item {}

  &__page-link {
    display: block;
    padding: .8em 1em;
    color: $black-color;

    &:hover {
      background: $general-line-color;
      color: $white-color;
      border-radius: 50%;
    }
  }


  &__active {
    background: $main-color;
    color: $white-color;
    border-radius: 50%;
    padding: .8em 1em;
  }

  &__gap {
    color: $black-color;
    padding: .8em 1em;
  }
}
