.p-about {
  margin: 0 auto;
  padding: 3.2rem;

  &__header {
    font-size: 6rem;
    color: $main-color;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 2rem;
    max-width: $global-page-width;
    text-align: center;
    margin: 0 auto 5em auto;
  }

  &__features {
    border: 3px dashed $highlight-color;
    margin: 0 auto 1em auto;
  }

  &__feature {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1em;

    &:not(:last-child) {
      border-bottom: 3px dashed $highlight-color;
    }
  }

  &__feature-left {
    flex: 1;
  }

  &__feature-right {
    flex: 3;
    display: flex;
    align-items: center;
  }

  &__feature-icon {
    font-size: 6rem;
    color: $main-color;
    text-align: center;
  }

  &__feature-title {
    color: $main-color;
    text-align: center;
  }

  &__feature-description {
    line-height: 2;
  }
}
