.p-anonymous-form {
  border: 5px dashed $main-color;
  padding: 1em;

  &__title {
    text-align: center;
    margin-bottom: 1em;
  }

  &__signup {
    margin: 0 auto;
    margin-bottom: 1em;
  }

  &__submit {
    text-align: center;
  }
}
