.p-article-contents {
  @include contents-box();
  padding: 2em;

  // &__header {
  //   @include contents-header();
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   padding: 1em;
  // }

  // &__user-profile {
  //   display: flex;
  //   align-items: center;
  // }

  // &__user-photo {
  //   margin-right: .5em;
  // }

  // &__user-name {}


  // &__body {}

  &__overview {
    font-size: 1.4rem;
    color: $supplement_color;
  }

  &__title {
    font-size: 4.4rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
  }

  &__tag-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__tag {
    margin-bottom: 1em;

    &:not(:last-child) {
      margin-right: 1em;
    }
  }

  &__datetime {
    font-size: 1.4rem;
    color: $supplement_color;
  }

  // &__footer {}

  // &__user-profile {}

  // &__user-photo {}

  // &__user-name {}

  // &__user-introduction {}

  // &__follow-btn {}
}
