.p-article-card {
  background: $white_color;
  border: 2px solid $black_color;
  border-radius: 3px;
  padding: 1em;
  // min-width: 450px;
  // max-width: fit-content;

  &__body {
    display: block;
    border-bottom: 2px solid $black_color;
    margin-bottom: .5em;
    text-align: left;
  }

  &__overview {
    color: $supplement_color;
    font-size: 1.2rem;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: .5em;
  }

  &__thumbnail {
    width: 100%;
    height: auto;
  }

  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 0
  }

  &__tag-item {
    font-size: 1.2rem;
    margin-bottom: 1em;

    &:not(:last-child) {
      margin-right: 1em;
    }
  }

  &__reaction {
    display: flex;
    margin-bottom: .5em;
  }

  &__favorite {
    margin-right: .5em;
  }

  &__comment {}

  &__footer {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 1em;
    text-align: center;
  }

  &__user-name {
    font-weight: 700;
  }
}
