.p-article-list-item {
  display: flex;
  width: 100%;
  margin-bottom: 1em;

  &:hover {
    background: $general-line-color;
  }

  &__thumbnail {
    flex: 1;
    width: 20%;
    margin-right: 1em;
  }

  &__body {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__overview {
    font-size: 1.2rem;
    color: $supplement-color;
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 700;
  }

  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
  }

  &__tag-item {
    font-size: .8rem;
    margin-bottom: .5em;

    &:not(:last-child) {
      margin-right: 1em;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user-profile {
    display: flex;
    align-items: center;
  }

  &__user-photo {
    margin-right: .5em;
  }

  &__user-name {
    // font-weight: 700;
    color: $black-color;
  }

  &__reaction {
    display: flex;
    justify-content: flex-end;
  }

  &__favorite {
    margin-right: 1em;
  }

  &__comment {
    margin-right: 1em;
  }
}
