.p-comment-form {
  display: flex;
  padding: 1em;

  &__user-photo {
    margin-right: 1em;
  }

  &__form {
    flex-grow: 1;
  }

  &__text-area {
    @include hand-write-border();
    width: 100%;
    padding: .5em;
    outline: none;
  }

  &__submit {
    text-align: left;
  }
}
