.p-comment-item {
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid $general_line_color;

  &__header {
    display: flex;
    margin-bottom: 1em;
  }

  &__icon {
    margin-right: 1em;
    text-align: center;
  }

  &__user-name {
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__body {
    font-size: 1.6rem;
    margin-bottom: 1em;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__datetime {
    color: $supplement_color;
  }

  &__menu {
    text-align: right;
  }
}
