.p-draft-item {
  display: flex;
  align-items: center;
  padding: 1em;


  &:hover {
    background: $general-line-color;
  }

  &__title {
    flex-basis: 70%;
  }

  &__menu {
    flex-basis: 30%;
  }
}
