.p-footer {
  width: $global_page_width;
  margin: 0 auto;

  &__link-list {
    display: flex;
    list-style: none;
    margin-bottom: 1rem;
    padding-left: 0;
  }

  &__link-item {
    margin-right: 1rem;
  }

  &__copyright {
    text-align: center;
    color: $white_color;
  }
}
