.p-footer {
  max-width: $global_page_width;
  margin: 0 auto;

  &__link-list {
    display: flex;
    margin-bottom: 1em;
    padding-left: 0;
  }

  &__link-item {

    &:not(:last-child) {
      margin-right: 1em;
    }
  }

  &__copyright {
    text-align: center;
    color: $white_color;
  }
}
