.p-header {
  max-width: $global-page-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__logo {
    font-size: 2em;
    font-weight: 700;
    margin-right: 1em;
    color: $white-color;

    &:hover {
      text-decoration: none;
    }
  }

  &__search-form {}

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
  }

  &__list-item {
    &:not(:last-child) {
      margin-right: 1em;
    }
  }

  &__dropdown {
    position: relative;

    &:hover {
      .p-header__dropdown-list {
        display: block;
      }
    }
  }

  &__dropdown-list {
    position: absolute;
    width: 180px;
    z-index: 11;
    border: 1px solid $general-line-color;
    border-radius: 3px;
    background: white;
    right: 10px;
    display: none;
    padding: 1em;
    margin-bottom: 0;
  }

  &__dropdown-item {
    padding: 0.3em;

    &:not(:last-child) {
      margin-bottom: 1em;
      border-bottom: 1px solid $general-line-color;
    }
  }
}
