.p-sticky-menu {
  position: sticky;
  top: 12vh;
  margin: 0 auto;
  text-align: center;

  &__item {
    margin-bottom: .5em;
  }

  &__btn-counter {
    color: $supplement-color;
  }

  &__btn {
    font-size: 1.4em;
  }
}
