.p-tab-menu {
  border: 1px solid $general_line_color;
  border-radius: 3px;
  background: $white_color;

  &__menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  &__menu-item {
    flex: 1 1;
    text-align: center;

    &:hover {
      background: $general_line_color;
      border-bottom: 3px solid $main_color;
    }

    &--linked {
      background: $general_line_color;
      border-bottom: 3px solid $main_color;
    }
  }

  &__menu-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
  }

  &__item-text {
    margin-right: 1em;
  }

  &__item-badge {
    font-size: 1.2rem;
  }
}
