.p-timeline-item {
  margin-bottom: 1em;
  padding: 1em;

  &__header {
    text-align: left;
    margin-bottom: .5em;
  }

  &__message-list {
    color: $main-color;
  }

  &__message-item {}

  &__body {
    text-align: left;
    margin-bottom: 1em;
  }
}
