.p-form-contents {
  @include contents-box();

  &__header {
    @include contents-header();
  }

  &__item {
    padding: 1em;

    &:not(:last-child) {
      border-bottom: 1px solid $general_line_color;
    }
  }

  &__form {
    padding: 1em;

    &:not(:last-child) {
      border-bottom: 1px solid $general_line_color;
    }
  }

  &__input {
    margin-bottom: 1em;
  }

  &__input-label {}

  &__input-field {
    margin-bottom: .5em;
  }

  &__input-note {
    font-size: 1.2rem;
    color: $supplement_color;
  }

  &__submit {}
}
