.p-form-contents {
  @include contents-box();

  &__header {
    @include contents-header();
  }

  &__form {
    padding: 1em;
  }

  &__input {
    padding: 1em;
  }

  &__input-label {}

  &__input-field {
    margin-bottom: .5em;
  }

  &__input-note {
    font-size: 1.2rem;
    color: $supplement_color;
  }

  &__submit {
    padding: 1em;
  }
}
