.p-tag-list-contents {
  @include contents-box();

  &__header {
    @include contents-header();
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 1em;

    &:not(:last-child) {
      margin-right: 1.5em;
    }
  }

  &_footer {}
}
