  .p-tag-profile-contents {
    @include contents-box();

    &__tag {
      font-size: 3rem;
      padding: 1.6rem;
      text-align: center;
      margin-bottom: .8rem;
    }

    &__follow-btn {
      padding: 1em;
    }
  }
