.p-user-profile-contents {
  @include contents-box();

  &__photo {
    text-align: center;
    margin-bottom: .5em;
  }

  &__header {
    @include contents-header();
    text-align: left;
  }

  &__nick-name {
    font-weight: 700;
  }

  &__name {
    color: $supplement-color;
    margin-bottom: 1em;
  }

  &__follow-btn {}

  &__introduction {}
}
