// $background_color: #F9ED69;
// $header_color: #F08A5D;
// $footer_color: #F08A5D;
$max-width-size: 1200px;

.bgcolor-bg {
  background: $background_color;
}

.bgcolor-header {
  background: $header_color;
}

.bgcolor-footer {
  background: $footer_color;
}

.container-width-custom {
  max-width: $max-width-size
}

.link-underline:hover {
  text-decoration: underline;
}

.w-90 {
  width: 90% !important;
}

.text-gold {
  color: gold;
}

.text-silver {
  color: silver;
}

.text-copper {
  color: sienna;
}

pre.debug_dump {
  max-width: 1200px;
  text-align: left;
  margin: 10px auto;
  padding: 5px;
  border: 2px solid gray;
  background: lightgray;
  border-radius: 3px;
}
