// $background_color: #fdffc9;
// $header_color: #ffca99;
// $footer_color: #CBD980;
$background_color: white;
$header_color: lightgray;
$footer_color: lightgray;

html {
  font-size: 62.5%;
}

body {
  background: $background_color;
  font-size: 1.6rem;
  text-align: center;
}

.header {
  width: 100%;
  background: $header_color;

  a {

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: whitesmoke;
      text-decoration: none;
    }
  }

  ul {
    list-style: none;
    text-align: right;

    li {
      display: inline-block;
      margin: 10px;
      padding: 10px;
      text-align: center;
      background: skyblue;
      color: white;
      font-weight: bold;
      border-radius: 3px;
    }
  }
}

.wrapper {
  margin: 30px auto 40px;
  width: 1000px;

  .main {
    display: block;
    float: left;
    width: 700px;
    border: 1px black solid;
  }

  .sidemenu {
    float: right;
    width: 270px;
    border: 1px black solid;
  }
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.footer {
  width: 100%;
  background: $footer_color;
}


pre.debug_dump {
  margin: 10px 0px;
  padding: 5px;
  border: 2px solid gray;
  background: lightgray;
  border-radius: 3px;
}
