$max-width-size: 1200px;

// TODO フォントの適応
@font-face {
  font-family: 'memoir';
  src: url("../fonts/memoir-round.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 400;
//   src: url("../fonts/memoir-round.otf");
//   /* IE9 Compat Modes */
//   src: local('Montserrat Regular'), local('Montserrat-Regular'),
//     url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.eot?#iefix") format('embedded-opentype'),
//     /* IE6-IE8 */
//     url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff2") format('woff2'),
//     /* Super Modern Browsers */
//     url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff") format('woff'),
//     /* Modern Browsers */
//     url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.ttf") format('truetype'),
//     /* Safari, Android, iOS */
//     url("../images/fonts/montserrat-v12-latin/montserrat-v12-latin-regular.svg#Montserrat") format('svg');
//   /* Legacy iOS */
// }

// html {
//   font-family: 'memoir';
//   font-size: 15px;
// }

// .bgcolor-bg {
//   background: $background_color;
// }

// .bgcolor-header {
//   background: $header_color;
// }

// .bgcolor-footer {
//   background: $footer_color;
// }

.container-width-custom {
  max-width: $max-width-size
}

// .link-underline:hover {
//   text-decoration: underline;
// }

// .w-90 {
//   width: 90% !important;
// }

// .text-gold {
//   color: gold;
// }

// .text-silver {
//   color: silver;
// }

// .text-copper {
//   color: sienna;
// }

pre.debug_dump {
  max-width: 1200px;
  text-align: left;
  margin: 10px auto;
  padding: 5px;
  border: 2px solid gray;
  background: lightgray;
  border-radius: 3px;
}
