$background_color: #F9ED69;
$main_color: #F08A5D;
$highlight_color: #6A2C70;
$sub_highlight_color: #B83B5E;
$main_dark_tone_color: #B1552C;

$header_color: $main_color;
$footer_color: $main_color;

// 追加したカスタムカラー
$custom_colors: (bg: $background_color,
  main: $main_color,
  highlight: $highlight_color,
  sub-highlight: $sub_highlight_color,
  dark-tone: $main_dark_tone_color);
