//
// Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
// the trix-editor content (whether displayed or under editing). Feel free to incorporate this
// inclusion directly in any other asset bundle and remove this file.
//
// //= require trix/dist/trix
// @import "trix/dist/trix";
// We need to override trix.css’s image gallery styles to accommodate the

// <action-text-attachment> element we wrap around attachments. Otherwise,
// images in galleries will be squished by the max-width: 33%; rule.

.trix-content {
  .attachment-gallery {

    >action-text-attachment,
    >.attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {

      >action-text-attachment,
      >.attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }

  // ここから追加したコード

  div {
    margin-bottom: .8rem;
  }

  h1 {
    font-size: 2.4rem;
    font-weight: 700;
    border-left: 5px solid $main_color;
    background: lighten($main_color, 30);
    padding: .8rem 1.6rem;
    margin-bottom: 1.6rem;
  }

  strong {}

  em {}

  del {}

  a {
    color: $main_color;

    &:hover {
      color: $main_color;
    }
  }

  blockquote {
    position: relative;
    padding: .5em 1em .5em 4em;
    font-style: italic;
    background: #efefef;
    color: #555;
    border: none;
    margin-bottom: 1.6rem;

    &::before {
      display: inline-block;
      position: absolute;
      font-family: "Font Awesome 5 Free";
      content: "\f10d";
      left: .5em;
      color: #cfcfcf;
      font-size: 2.8rem;
      line-height: 1;
      font-weight: 900;
    }
  }

  pre {
    @include hand-write-border();
    font-size: 1.6rem;
    font-family: inherit;
    padding: 0.5em 1em;
    margin-bottom: .8rem;
  }

  ul {
    position: relative;
    border: solid 2px $main_color;
    border-radius: 5px;
    padding: 0.5em 1em 0.5em 2em;
    margin-bottom: .8rem;

    li {
      padding: 0.5em 0;

      &::before {
        position: absolute;
        left: 1em;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f138";
        color: $main_color;
      }
    }
  }

  ol {
    counter-reset: number;
    border: solid 2px $highlight_color;
    border-radius: 5px;
    padding: 0.5em 0;
    margin-bottom: .8rem;

    li {
      position: relative;
      margin-left: 1em;
      padding: 0.5em 0.5em 0.5em 2em;

      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        counter-increment: number;
        content: counter(number);
        display: inline-block;
        background: $highlight_color;
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.5em;
        text-align: center;
        transform: translateY(-50%);
      }
    }
  }
}
